<div class="notice--info" style="font-size: inherit !important; padding-top: 0.125em;">
  <h2>S'accorder comme un pro</h2>
  <p>Vous jouez depuis plusieurs années et voulez connaître une méthode encore plus efficace de vous accorder ? Recevez gratuitement mon <strong>guide PDF (5 pages)</strong> sur les méthodes utilisées par les musiciens professionnels, en remplissant le formulaire ci-dessous :</p>

  <form target="_blank" method="post" action="https://accordersaguitare.us15.list-manage.com/subscribe/post?u=88f74bac90be8782706e16cfe&amp;id=1ae0e7aa7a" novalidate style="background-color: inherit; padding: 0; margin: 0;">

    <div class="form-group">
      <input type="text" name="NAME" placeholder="Votre prénom" tabindex="1">
    </div>

    <div class="form-group">
      <input type="email" name="EMAIL" placeholder="Votre adresse mail" tabindex="2">
    </div>

    <div class="form-group hidden" style="display: none;">
      <input type="text" name="b_88f74bac90be8782706e16cfe_1ae0e7aa7a" tabindex="-1" value="">
    </div>

    <div class="form-group">
      <button type="submit" tabindex="3" class="btn btn--info btn--large">Je m'inscris »</button>
    </div>
  </form>

</div>
