<div id="ouibounce-modal">
  <div class="underlay"></div>
  <div class="modal">
    <div class="modal-title">
      <h3>Pour aller plus loin…</h3>
    </div>

    <div class="modal-body">
      <p>Vous jouez depuis plusieurs années et voulez connaître une méthode encore plus efficace de vous accorder ?</p>
      <p>Recevez gratuitement mon guide PDF (5 pages) sur les méthodes utilisées par les pros, en remplissant le formulaire ci-dessous :</p>

      <div id="mc_embed_signup">
        <form action="//accordersaguitare.us15.list-manage.com/subscribe/post?u=88f74bac90be8782706e16cfe&amp;id=1ae0e7aa7a" method="post" id="mc-embedded-subscribe-form" name="mc-embedded-subscribe-form" class="validate" target="_blank" novalidate>
          <input type="text" value="" name="NAME" class="required" id="mce-NAME" placeholder="Votre prénom">
          <input type="email" value="" name="EMAIL" class="required email" id="mce-EMAIL" placeholder="Votre email">
          <div style="position: absolute; left: -5000px;" aria-hidden="true"><input type="text" name="b_88f74bac90be8782706e16cfe_1ae0e7aa7a" tabindex="-1" value=""></div>
          <input type="submit" value="Je m'inscris" name="subscribe" id="mc-embedded-subscribe" class="button">
        </form>
      </div>

      <div class="modal-footer">
        <p>Non merci</p>
      </div>

    </div>
  </div>
</div>
