<div id="newsletter">
  <h3>S'accorder comme un pro</h3>
  <p>Vous jouez depuis plusieurs années et voulez connaître une méthode encore plus efficace de vous accorder ? Recevez gratuitement mon guide PDF (5 pages) sur les méthodes utilisées par les musiciens professionnels, en remplissant le formulaire ci-dessous :</p>

  <form method="post" action-xhr="//accordersaguitare.us15.list-manage.com/subscribe/post?u=88f74bac90be8782706e16cfe&amp;id=1ae0e7aa7a" target="_top" name="mc-embedded-subscribe-form">
    <input type="text" value="" name="NAME" placeholder="Votre prénom" id="mce-NAME" required>
    <input type="email" value="" name="EMAIL" placeholder="Votre adresse mail" id="mce-EMAIL" required>
    <input type="submit" value="Je m'inscris »" class="button">
    <input type="hidden" name="b_88f74bac90be8782706e16cfe_1ae0e7aa7a" tabindex="-1" value="">
    <div submit-error>
      <template type="amp-mustache">
        <p>Merci de votre inscription ! N'oubliez pas de confirmer votre inscription dans le mail que vous allez recevoir.</p>
      </template>
    </div>
  </form>

  <i class="fa fa-lock"></i>
  Aucun spam, promis. Vous pouvez vous désinscrire à tout moment.
</div>
